#container
{
	margin: 0 auto;
	width: 600px;
	background : top center no-repeat #999F;
}

#header
{
	background:#FAF5E6;
	padding: 20px;
}

#header h1 { margin: 0; 
border-radius : 20px;
border : #FF2B6B solid 1px;}

#navigation
{
	float: left;
	width: 600px;
	background:#930;
}

#navigation ul
{
	margin: 0;
	padding: 0;
}

#navigation ul li
{
	list-style-type: none;
	display: inline;
	
}

#navigation li a
{
	display: block;
	float: left;
	padding: 5px 10px;
	color:#fff;
	text-decoration: none;
	border-right: 1px solid#fff;
}

#navigation li a:hover { background:#CC9900; }

#content
{
	clear: left;
	padding: 20px;
	background-color: #FAF5E6;
	border-radius: 5px;
	padding-left: 0.5em;
	box-shadow: 2px 3px 2px 3px #888;
}

#content h2
{
	color:#000;
	font-size: 160%;
	margin: 0 0 .5em;
}

#footer
{
	color : #777;
	margin : 0 18px 0 28px;
	padding-top : 1em;
	border-top : 1px solid #CCC;
}

#cssmenu h3
{
background-color: #CC9900;
border-radius: 5px;
}

