body {
    font-family: calibri,verdana,tahoma,arial,helvetica,sans-serif;
    margin: 0px 5%;
    background-color: #ccc;
    color: #000;
}
h1, h2, h3, h4, h5, h6 { color: #666666; background-color: #999999; }
ul { background-color: #c1c1c1; }
p {
    color: #666666;
    background-color: #1c1c1c;
    padding: 0.5em;
}
#header { width: 100%; }
#footer { width: 100%; clear: both;}
#nav { width: 15%; float: left; padding-right: 10px;}
#sidebar { width: 33%; float: right; }
#main { width: 50%; float: left; 
}
div p {
    background-color: #d8d8d8;
    color: #666666;
}
.summary {
    border: medium solid black;
    color: #d8d8d8;
    background-color: #666666;
}
#sidebar p {
    background-color: #d8d8d8;
    color: #666666;
}
#footer {
    background-color: #fff;
    color: #ccc;
    font-size: small;
    text-align: center;
}
h2 { display: none; }
#main h2 {display: block;
}

#article_container
{
    width:         505px;
    float:         left;
}
#article_one
{
	background-color:         #fff;
    width:                    500px;
	border:                   1px solid #A5BEE4;
    overflow:                 hidden;
    float:                    left;
}
#article_content
{
    padding:                 5px;
    word-wrap:               break-word;
}