#serene {
    font-family : Arial, Helvetica, sans-serif;
	line-height : 18px;
	font-size : 13.5px;		color : #06185c;
	background : top center no-repeat #333366;
	margin : auto;
	padding : 5px 10px;
}



